<?xml version="1.0"?>

<model>
  <name>Column with ArUco tag 42</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Julian Foerster</name>
    <email>fjulian@ethz.ch</email>
  </author>

  <description>
    A wooden column with ArUco Tag 42.
  </description>
</model>
